:root {
    --color-black: #32323D;
    --color-blue: #3b5998;
    --color-blue-hover: #253D77;
    --color-inactive: #72727D;
    --color-green: #24780A;
    --color-green-hover: #035a00;
    --color-dark-green: #035a00;
    --color-red: #D00020;
    --color-grey: #BDC0C1;
    --box-backgroung: #ffffff;
    --box-hover-element: #eeeeee;
    --box-shadow: 0 1px 6px 0 #bdc0c1;
    --selected-digest: #D3D5d6;
    --billet-hover: #f6f6f6;
    --bottom-border: #eaebec;
}

* {
    color: var(--color-black);
    box-sizing: border-box;
    font-size: 12px;
}

.link{
    color: var(--color-blue) !important;
    cursor: pointer;
}

.link:hover{
    color: var(--color-blue-hover) !important;
}

.inactive{
    color: var(--color-inactive);
}

.green{
    color: var(--color-green);
}

.green:hover{
    color: var(--color-green-hover);
}

.dark-green{
    color: var(--color-dark-green);
}

.red{
    color: var(--color-red);
}

.grey{
    color: var(--color-grey);
}

input::placeholder {
    color: var(--color-grey);
}
