body{
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

main{
    display: inherit;
}

.tile {
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  margin: 5px;
  background-color: #eeeeee;
  box-shadow: inset 0 0 1px #FFFFCC;
  cursor: pointer;
  position: relative;
}

.tile:hover {
  transform: scale(1.01);
}

.main_info {
    height: 118px;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #252F32;
    font-size: 12px;
    padding-left: 35px;
    width: 335px;
}

.main_info > ui-tag {
  position: absolute;
  width: 3px;
  height: 115px;
  top: 0px;
  left: 0px;
}

.pointer_menu{
    font-size: 30px;
    cursor: pointer;
    line-height: 4px;
    height: 20px;
}

.header {
    width: 100%;
    height: 110px;
    line-height: 30px;
    border-bottom: 4px solid #3D9BE9;
    display: flex;
}

.header-label {
    font-size: 16pt;
    display: block;
    margin: 30px 0 0 30px;
    color: black;
    text-transform: uppercase;
}

.header-label-abs {
    position: absolute;
    font-weight: 300;
    font-size: 16pt;
    display: block;
    margin: 0 0 0 30px;
    color: #595a5a;
    text-transform: uppercase;
}

.search-form {
    position: absolute;
    width: calc(100% - 430px - 93px - 345px - 25px);
    margin-left: 430px;
    margin-top: 47px;
}

.input_line{
    height: 30px;
    background-color: var(--box-backgroung);
    border: 1px solid #3b5998;
    box-sizing: border-box;
    padding-left: 10px;
    color: #252F32;
    font-size: 12px;
}
input::placeholder{
    color: var(--dark-grey) !important;
}

.find_icon:before{
    content: "\E094";
    font-family: 'Segoe MDL2 Assets';
    line-height: 30px;
    position: absolute;
    right: 124px;
}

.find_icon_right:before{
    content: "\E094";
    font-family: 'Segoe MDL2 Assets';
    line-height: 30px;
    position: absolute;
    right: 10px;
}

.deactivate_draw {
    font-size: 10px;
    color: var(--box-backgroung);
    background-color: var(--color-blue);
    height: 30px;
    line-height: 30px;
    width: 108px;
    cursor: pointer;
    text-align: center;
    float: right;
}

.activate_draw{
    background-color: #0a145b;
}

.inactive_bottom{
    background-color: var(--color-inactive);
}

.tool-box {
    height: 12px;
    width: 100%;
    line-height: 12px;
    margin: 7px 0 0;
    display: flex;
    flex-direction: row;
    color:#252F32;
}

.found{
    font-size: 12px;
    text-align: end;
    flex-grow: 1;
}

.underline{
    border: 0;
    background-color: #3b5998;
    position: absolute;
    top: 98px;
    left: 30px;
    width: 100vw;
    height: 4px;
}

.progress_bar{
    background-color: var(--color-red);
}

.head{
    width: 100%;
    height: 122px;
    display: flex;
    background-color: white;
}

.head > span{
    font-size: 22px;
    display: block;
    margin: 45px 0 0 25px;
    line-height: 22px;
    color: #252f32;
    text-transform: uppercase;
}

.digest-list {
    overflow: hidden auto;
    background-color: rgb(255, 255, 255);
    height: calc(100% - 75px);

}
.digest-list.border{
    border-top: 1px solid var(--color-blue);
}

.fixed-button {
    position: absolute;
    right: -30px;
    top: calc(50% - 90px + 52px);
    width: 30px;
    height: 75px;
    background-color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    border-left: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.fixed-button .arrow{
    background: url(/assets/arrow.png) no-repeat center;
    width: 37px;
    height: 13px;
    background-size: 37px 13px;
}

.fixed-button .arrow-right{
    transform: rotate(-90deg);
}

.fixed-button .arrow-left{
    transform: rotate(90deg);
}

.pane {
    float: left;
    width: 370px;
    left: 30px;
    height: calc(100% - 122px);
    border-right: 1px solid #d3d5d6;
    position: absolute;
    z-index: 4;
    background-color: white;
}

.source_menu{
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    overflow: hidden;
    padding: 20px 25px 0;
    box-sizing: border-box;
    position: relative;
}
.source_menu > div{
    min-width: 104px;
    max-width: 159px;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: solid rgba(59, 89, 152, 1) 1px;
    border-right: 1px solid white ;
    color: #2B3C63;
    cursor: pointer;
}
.source_menu > div:hover{
  background-color: #3b5998;
  color: #fff;
}
.source_menu > .add:hover{
    background-color: #008000;
    border-color: #008000;
    color: #fff;
}
.source_menu > .average {
    border-left: none;
    border-right: solid rgba(59, 89, 152, 1) 1px;
}
.source_menu > .average:hover{
    border-right: solid white 1px;
}
.source_menu > div:first-child{
    border-right: solid rgba(59, 89, 152, 1) 1px;
}
.source_menu > div:first-child:hover{
    border-right: solid white 1px;
}
.source_menu > div:last-child, .source_menu > .last{
     border-left: none;
     border-right: solid rgba(59, 89, 152, 1) 1px;
 }
.source_menu > .last:hover{
    border-left: solid white 1px;
}
.source_menu .active {
    background-color: #3b5998;
    color: #fff;
    border-right: 1px solid white;
}
.source_menu .active:hover{
    border-left: solid rgba(59, 89, 152, 1) 1px;
}

.source_menu > .add {
    border-color: rgba(59, 89, 152, 1);
    border-right: 1px solid white;
}
.source_menu > .add:hover{
    background-color: #008000;
    border-color: #008000;
    color: #fff;
    border-left: solid #008000 1px;
}

.source_menu .edit_ready {
    height: 16px;
    width: 100%;
    padding-right: 25px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    bottom: -1px;
    right: 0;
    border: 0 !important;
    text-align: right;
    max-width: 100%;
    min-width: 100%;
    background-color: unset !important;
}

.edit_ready{
    height: 42px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 55px;
    box-sizing: border-box;
    font-size: 12px;
}

.edit_ready a{
    color: #5D75B3;
}

ui-tabs-menu{
    width: 100%;
    height: 100%;
    display: block;
}

ui-tabs-menu ui-tab{
    max-height: calc(100% - 140px);
    width: 100%;
    display: block;
    overflow: auto;
}
ui-tabs-menu ui-tab.without_buttons{
    max-height: calc(100% - 85px);
}
ui-tabs-menu > ui-tab:not(:empty):after {
    content: "";
    height: 12px;
    display: block;
}

.more{
    color: #2B3C63;
    width: 100%;
    text-align: end;
    cursor: pointer;
}

.more > div{
    display: none;
    background-color: white;
    width: 165px;
    position: absolute;
    box-shadow: 0 1px 6px 0 #bdc0c1;
    background-clip: padding-box;
    line-height: 25px;
    z-index: 10;
    text-align: left;
    padding-top: 8px;
    right: -85px;
}

.more:hover > div{
    display: block;
}

.more:hover > div > div{
    padding-left: 15px;
    cursor: pointer;
}

.more:hover > div > div:hover, .more:hover > div > div.selected{
    background-color: #eeeeee
}

.more:hover > div > div.delete{
    margin-top: 16px;
    line-height: 30px;
    padding-left: 15px;
    border-top: 1px solid var(--selected-digest);
}
div.delete:hover{
    border-top: 1px solid var(--color-red1) !important;
    background-color: var(--color-red1) !important;
    color: white;
}
div.delete:active{
    border-top: 1px solid #8b0000 !important;
    background-color: #8b0000 !important;
    color: white;
}
sliding-menu, multiselect-menu, sliding-tag, address-input{
    width: 100%;
    line-height: 30px;
}

sliding-menu:hover > div:first-child, multiselect-menu:hover > div:first-child, sliding-tag:hover > div:first-child, address-input:hover > div:first-child{
    background-color: var(--color-blue);
}
sliding-menu:hover > .menu_header > span, multiselect-menu:hover > .menu_header > span, sliding-tag:hover > .menu_header > span, address-input:hover > .menu_header > span{
    color: white;
}
input-line, input-area{
    position: relative;
    width: calc(100% - 50px);
    display: block;
    margin: 7px 25px 0 25px;
}
.input-line::placeholder{
    color: var(--dark-grey);
}
.show_block{
    min-height: 30px;
    width: 100%;
    padding: 0 40px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property {
    overflow: hidden;
    height: 100%;
    background-color: white;
}

.property_face{
    height: 122px;
    padding: 15px 20px 0 25px;
    width: 370px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.property_face > .main_title{
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
}
.property-face > .type_title {
    font-size: 12px;
    color: var(--color-inactive);
    font-style: normal;
    text-transform: uppercase;
}
.property_body{
    height: calc(100% - 51px);
    overflow-x: hidden;
}

.property_body > ul {
  margin: 0 0 1px;
  padding: 0;
  height: 42px;
  overflow: hidden;
}

.property_body > ul > div {
    background-color: #eeeeee;
    height: 42px;
    line-height: 42px;
    color: #252f32;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
}

.property_body > ul > div:hover {
    background-color: #ababab;
    color: white;
    cursor: pointer;
}

.property_body > ul > li {
    height: 25px;
    line-height: 25px;
    background-color: #ffffff;
    padding: 0 55px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: #252f32;
    flex-wrap: wrap;
}

.property_body > ul > li:first-of-type{
    margin-top: 10px;
}

.property_body > ul > li:last-of-type{
    margin-bottom: 10px;
}

.property_body > ul > li ui-view-value {
    overflow: hidden;
    text-transform: none;
    font-size: 12px;
}

.property_body > ul > li textarea {
    text-align: left;
    width: 100%;
    height: 150px;
    font-size: 12px;
    color: #252f32;;
    background-color: transparent;
    margin: 5px 0;
    border: 0px;
    resize: none;
    overflow: auto;
}

.property_body > ul > li.rating .view-label {
    min-width: 170px;
}



.property_body > ul > li:not(.subpar){
    text-transform: uppercase;
}

.property_body > ul > li:not(.subpar):not(:first-of-type){
  margin-top: 10px;
}

.property_body > ul > li.subpar{
  background-color: #fff;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #677578;
}

.subpar span:first-child{
  color: #9E9E9E;
  font-style: italic;
  margin-left: 20px;
}

.property_body .subpar .view-label{
  font-size: 12px;
  color: #677578;
}

.property_body .describe {
  padding: 0 44px 0 20px;
  text-transform: inherit !important;
  font-size: 12px;
  line-height: 20px;
}

.property_body ul > .rait_header {
  font-size: 10px;
  color: #677578;
  padding: 18px 10px 0 30px;
  display: block;
  height: 60px;
  box-sizing: border-box;
}

.property_body > ul > li.descr{
    text-transform: none;
    line-height: 20px;
    font-size: 12px;
}

.editable ul li {
  flex-wrap: nowrap;
  align-items: flex-start;
}

.editable ul li:hover .view-label:before {
  content: "";
  background-color: #dadada;
  position: absolute;
  left: -48px;
  top: -4px;
  width: 370px;
  height: 32px;
  z-index: -1;
}

.editable ul li.rating {
  height: auto;
  line-height: 30px;
  flex-wrap: wrap;
}

.editable ul li.rating:hover .view-label:before {
  content: "";
  background-color: transparent;
}

.editable ul li.multiselect {
  flex-wrap: wrap;
  height: auto;
  cursor: pointer;
}

.editable ul li .sliding-label {
  flex: 0 0 50%;
  z-index: 5;
}

.editable ul li ui-slidingMenu {
  flex: 0 0 calc(100% + 48px + 56px);
  position: relative;
  left: calc(0px - 50% - 48px);
  z-index: 5;
  font-size: 12px;
  text-transform: initial;
}

.editable ul li ui-switch-button {
  align-self: center;
  z-index: 10;
}

.editable ul li ui-input-line {
  height: 100%;
  width: 100%;
  line-height: normal;
  z-index: 15;
}

.editable ul li ui-multiselect {
  line-height: normal;
  width: 100%;
  z-index: 10;
  padding-left: 20px;
  text-transform: initial;
  z-index: 100;
}

.editable ul li ui-star-view {
  z-index: 5;
}

.editable ul li ui-multiselect ui-input-line {
  height: 42px;
}

.editable ul li ui-tag-block {
  line-height: normal;
  color: #616161;
}

.view-label {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ui-filter-select.view-value{
  text-align: left;
}

.unknown {
  color: #9E9E9E;
}

.tile-content:first-child {
  display: block;
}
.tile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  display: none;
}
.tile .tile-label {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  z-index: 1;
}
.tile-content.iconic .icon {
  position: absolute;
  width: 64px;
  height: 64px;
  font-size: 64px;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -32px;
  text-align: center;
}

.header-button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px !important;
  cursor: pointer;
  color: #666;
}

.tab-button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px !important;
  cursor: pointer;
  color: #666;
}

.line-clamp {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1em * 1.2 * 1);
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(1em * 1.2 * 2);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
  font-size: 10pt;
}

.pull-container {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: #3F51B5;
}

a:hover {
 text-decoration: underline;
}

.selected a {
  color: #eee;
}

.selected > .billet, .alreadyAdd > .billet {
  background-color: inherit !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

input {
    font-family: 'Open Sans';
    font-size: 12px;
    border: 0;
    padding: 0;
}

input:focus {
  outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
    font-family: "Open Sans";
    line-height: 20px;
}

textarea:focus {
  outline: none !important;
}

.select_arrow{
    background-image: url(/assets/arrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 17px;
    height: 17px;
    display: block;
    float: left;
}

.round_menu{
    width: 180px;
    height: 50px;
    position: absolute;
    left: 400px;
    top: 33px;
    text-align: center;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}

.inline-select > ui-filter-tag-select{
    text-align: left;
}

digest-person.alreadyAdd span, digest-person.alreadyAdd div, digest-person.alreadyAdd .link{
    color: #8FA1AC !important;
    font-weight: normal !important;
}

digest-organisation.alreadyAdd span, digest-organisation.alreadyAdd div, digest-organisation.alreadyAdd .link{
    color: #8FA1AC !important;
    font-weight: normal !important;
}

digest-offer.alreadyAdd span, digest-offer.alreadyAdd div, digest-offer.alreadyAdd .link, digest-offer.alreadyAdd a{
    color: #8FA1AC !important;
    font-weight: normal !important;
}

digest-offer.alreadyAdd:hover span, digest-offer.alreadyAdd:hover div, digest-offer.alreadyAdd:hover .link, digest-offer.alreadyAdd:hover a,
digest-person.alreadyAdd:hover span, digest-person.alreadyAdd:hover div, digest-person.alreadyAdd:hover .link,  digest-person.alreadyAdd:hover span,
digest-organisation.alreadyAdd:hover span, digest-organisation.alreadyAdd:hover div, digest-organisation.alreadyAdd:hover .link
{
    color: initial !important;
    font-weight: initial !important;
}
/*Стили для селектов (address-input, sliding-menu и т.д)*/
