body {
    font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.map-container-inner{
    width: 500px;
    height: 500px;
}
.red-circle{
    background-color: #BD0000;
    height: 18px;
    width: 18px;
    min-width: 18px;
    min-height: 18px;
    border-radius: 9px;
    margin-right: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-in-circle{
    display: block;
    height: 2px;
    width: 10px;
    background-color: white;
}
